In [1]:
print(7+8)

15

In [3]:
print("hello"+"world")

helloworld

In [2]:
print("helloworld")

helloworld

In [4]:
print(type("a"))
print(type(2))
print(type(2.6))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
print(7.5+30)

37.5

In [6]:
print("A"+"B"+"C")

ABC

In [7]:
print("rohan"+"is"+"very"+"cute")

rohanisverycute

In [8]:
base=7
height=6
area=(base*height)/2
print("the area of the triangle is="+str(area))

the area of the triangle is=21.0

In [2]:
hotel_room=100
tax=hotel_room*0.08
total=hotel_room+tax
room_guests=4
share_per_person=total/room_guests
print("each person have to pay"+str(share_per_person))

each person have to pay27.0

In [6]:
salutation="Dr."
first_name="arpit"
middle_name="kumar"
last_name="singh"
suffix="Ph.D."
print(salutation+" "+first_name+" "+middle_name+" "+last_name+","+suffix)
print(salutation,first_name,middle_name,last_name,",",suffix)

Dr. arpit kumar singh,Ph.D.
Dr. arpit kumar singh , Ph.D.

In [10]:
#print("5*3="+(5*3)
print("5*3="+str(5*3))
print("5*3")

5*3=15
5*3

In [16]:
numerator=7
denominator=10
result=numerator/denominator
print(result)

0.7

In [27]:
def greetings(name):
    print("welcome," +name)
greetings("key")
greetings("cameron")

welcome,key
welcome,cameron

In [28]:
def greetings(name,department):
    print("welcome,"+name)
    print("you are part of"+department)
    
greetings("black", "software engineering")
greetings("ellis", "software engineering")

welcome,black
you are part ofsoftware engineering
welcome,ellis
you are part ofsoftware engineering

In [29]:
month="september"
print("investigate failed login attempt during",month,"if more than",100)

investigate failed login attempt during september if more than 100

In [30]:
print(type("this is a string"))

<class 'str'>

In [31]:
number=12
string_representations=str(number)
print(string_representations)

12

In [32]:
time_lists=[12,2,3,56,4,2,]
print(sorted(time_lists))

[2, 2, 3, 4, 12, 56]

In [33]:
time_lists=[34,3,2,78,23,1,9,7,]
print(sorted(time_lists))
print(time_lists)

[1, 2, 3, 7, 9, 23, 34, 78]
[34, 3, 2, 78, 23, 1, 9, 7]

In [35]:
time_lists=[45,2,7,87,5,3,98,56]
print(max(time_lists))
print(min(time_lists))

98
2

In [38]:
def area_triangle(base,height):
    return base*height/2
area_a=area_triangle(5,4)
area_b=area_triangle(7,3)
sum=area_a+area_b
print("the sum of both areas is:"+str(sum))

the sum of both areas is:20.5

In [42]:
def greeting(name):
    print("welcome,"+name)
result=greeting("christine")
print(result)

welcome,christine
None

In [1]:
def convert_seconds(seconds):
    hours=seconds//3600
    minutes=(seconds-hours*3600)//60
    remaining_seconds=seconds-hours*3600-minutes*60
    return hours,minutes,remaining_seconds
hours,minutes,seconds=convert_seconds(5000)
print(hours,minutes,seconds)

1 23 20

In [2]:
name="key"
number=len(name)*9

print("hello"+name+".your lucky number is"+str(number))

name="cameron"
number=len(name)*9

print("hello"+name+".your lucky numberis"+str(number))

hellokey.your lucky number is27
hellocameron.your lucky numberis63

In [2]:
def lucky_number(name):
    number=len(name)*9
    print("hello" + name + ".your lucky number is"+str(number))
lucky_number("key")
lucky_number("caneron")

hellokey.your lucky number is27
hellocaneron.your lucky number is63

In [4]:
def calculate(d):
    q=3.14
    z=q*(d**5)
    print(z)
calculate(5)

9812.5

In [7]:
def circle_area(radius):
    pi=3.14
    area=pi*(radius**5)
    print(area)

circle_area(5)

9812.5

In [8]:
def find_total_days(years,months,days):
    my_days=(years*365)+(months*30)+days
    return my_days

print(find_total_days(2,5,23))

903

In [11]:
def convert_volume(fluid_once):
    ml=fluid_once*29.5
    return ml

print("the volume in milliliteres is."+str(convert_volume(2)))
print("the volume in milliliteres is."+str(convert_volume(2)*2))

the volume in milliliteres is.59.0
the volume in milliliteres is.118.0

In [12]:
print(10>1)

True

In [13]:
print("yellow">"cyan"and"brown">"magenta")

False

In [14]:
print((3*5>=15)and(9+9<=36/2))

True

In [18]:
print(("saransh">"arpit")and("arpit">"saransh"))

False

In [20]:
country="usa"
city="new york city"
print((15/3<2+4)or(0>=6-7))
print(country=="new york city"or city=="new york city")
print(16<=4**2 or 9**(0.5)==3)

True
True
True

In [21]:
x=2*3>6
print("the valueof x is:")
print(x)
print(" ")
print("the inverse value of x is:")
print(not x)

the valueof x is:
False

the inverse value of x is:
True

In [22]:
today="monday"
print(not today=="tuesday")

True

In [1]:
def task_reminder(time_as_string):
    if time_as_string=="8:00a.m.":
        task="check overnight backup images"
    elif time_as_string=="11:30a.m.":
        task="run tps report"
    elif time_as_string=="5:30p.m.":
        task="reboot servers"
    else:
        task="provide it suppport to employees"
    return task
print(task_reminder("10:00a.m."))

provide it suppport to employees

In [2]:
def get_remainder(x,y):

    if x==0 or y==0 or x==y:
        remainder=0
    else:
        remainder=(x%y)/y
    return remainder
print(get_remainder(10,3))

0.3333333333333333

In [3]:
def product(a,b):
    return(a*b)

print(product(product(2,4),product(3,5)))

120

In [4]:
def difference(a,b):
    return(a-b)
def sum(a,b):
    return(a+b)
print(difference(sum(2,2),sum(3,3)))

-2

In [10]:
x=0
while x<5:
    print("not there yet x="+str(x))
    x=x+1
    print("x="+str(x))

not there yet x=0
x=1
not there yet x=1
x=2
not there yet x=2
x=3
not there yet x=3
x=4
not there yet x=4
x=5

In [17]:
def attempts(n):
    x=1
    while x<=n:
        print("attempt"+str(5))
        x+=1
    print("done")
attempts(5)

attempt5
attempt5
attempt5
attempt5
attempt5
done

In [20]:
my_variable=5
while my_variable<10:
    print("hello"+str(8))
    my_variable+=1

hello8
hello8
hello8
hello8
hello8

In [21]:
x=1
sum=0
while x<10:
    sum=sum+x
    x=x+1
product=1
while x<10:
    product=product*x
    x=x+1
print(sum,product)

45 1

In [1]:
multiplier=1
result=multiplier*5
while result>=50:
    print(result)
    multiplier+=1
    result=multiplier*5
print("done")

done

In [7]:
while iterative_number<=5:
    my_sum=given_number+iterated_number
    if my_sum>20:
        break
    print(str(given_number),"+",str(iterated_number),"=",str(my_sum))
iterative_number+=1

addition_table(5)
addition_table(17)
addition_table(30)

NameError: name 'iterative_number' is not defined

In [1]:
for x in range(5):
    print(x)

0
1
2
3
4

In [3]:
def friends
friends=['taylor','alex','pat','eli']
for friends in friends:
    print("hi"+friend)

SyntaxError: expected '(' (3417335655.py, line 1)

In [6]:
values=[23,52,59,37,48]
sum=0 
lenght=0
for value in values:
    sum+=value
    lenght+=1
print("total sum:"+str(sum)+"-average:"+str(sum/lenght))

total sum:219-average:43.8

In [4]:
name ="sasha"
colour ='gold'
print("name:"+name+ "colour:"+colour)

name:sashacolour:gold

In [8]:
pet ="100000000000000000000cat"
print(len(pet))

24

In [10]:
name = "aditya"
print(name[1])
print(name[3])
print(name[0:3])

d
t
adi

In [13]:
text = " aditya is a very good boy"
print(text[3])
print(text[:4])

i
 adi

In [19]:
massage="arpit is a girl"
new_massage=massage[8:11]+"boy"+massage[:]
print(new_massage)

 a boyarpit is a girl

In [3]:
animals = " lions and tiger "
animals.index("n")

4

In [5]:
animals = " tiger is very dangerous animal "
"tiger" in animals

True

In [6]:
animals = " lion is the king of jungle "
"elephant" in animals

False

In [10]:
answer = "yes"
if answer.lower() == "yes":
    print("yes you said")

yes you said

In [15]:
"yes".strip()
"yes".lstrip()
"yes".rstrip()

'yes'

In [17]:
"forest".endswith("rest")

True

In [20]:
"forest".isnumeric()
"12344".isnumeric()

True

In [21]:
int("2345") + int("456")

2801

In [25]:
print(len("adfadf"))

6

In [28]:
for c in "abcd":
    print("c")

c
c
c
c

In [31]:
print("abc" in "abcdef")
print("zys" in "abcde")

True
False

In [34]:
print("abcd"[2])
print("xcxzvdg"[5])

c
d

In [36]:
print("abcdefgh"[2:5])
print("cxxvccx"[:5])

cde
cxxvc

In [8]:
s = [2,3,4,56,6]
print(s)
print(len(s))
print(s[:3])
5 in s
print(s[1:2])

[2, 3, 4, 56, 6]
5
[2, 3, 4]
[3]

In [9]:
fruits = ['apple','mango','graoes','papaya']
fruits.append('kiwi')
print(fruits)

['apple', 'mango', 'graoes', 'papaya', 'kiwi']

In [12]:
fruits = ['pineapple','mango','hrages','roses']
fruits.insert(1,'orange')
fruits.insert(2,'papaya')
fruits.remove('mango')
print(fruits)

['pineapple', 'orange', 'papaya', 'hrages', 'roses']

In [16]:
animals = ['lions','tiger','giraffe','dolphin']
chars=0
for animal in animals:
    chars+= len(animal)

print("total character: {},average lenght:{}".format(chars,chars/len(animals)))

total character: 24,average lenght:6.0

In [17]:
my_list = [1,2,3,4,5,6]
my_tuple = tuple(my_list)

print(my_tuple)
my_tuple = 1,3,4,5,2
print(my_tuple)

(1, 2, 3, 4, 5, 6)
(1, 3, 4, 5, 2)

In [23]:
my_tuple = ['a','b','c','d','e']
my_tuple[2:0] = 'x'
print(my_tuple)

['a', 'b', 'x', 'c', 'd', 'e']

In [26]:
my_list = [1,2,3,4,5,6]
my_tuple =tuple(my_list)
print(my_tuple)
my_tuple=1,2,3,4,5,6
print(my_tuple)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [28]:
def calculate_numbers(a,b):
    return a+b,a-b

result = calculate_numbers(10,2)
print(result)

(12, 8)

In [30]:
def calculate_numbers(a,b):
    return a+b,a-b

add_result,sub_result = calculate_numbers(10,2)
print(add_result)
print(sub_result)

12
8