In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
n = 100
if(n%10)==0:
    print(n)
else:
    print()

100

In [28]:
for i in range(100):
    if(i%10)==0:
        print(i)
    else:
        print("not divisable")

0
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
10
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
20
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
30
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
40
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
50
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
60
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
70
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
80
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
90
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable
not divisable

In [15]:
 items =[ "mic","laptop","speaker","mobile"]
items[0]

'mic'

In [1]:
items=[2,4,6,8,10,12,14,16,18,20,22,24,26,28,30]
print(items)
items[-1],[-2],
items[0:2]
items[2:4]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

[6, 8]

In [1]:
tasks = ["complete math homework","learn english","read book"]
completed_tasks=[]
incompleted_tasks=[]
print("today's tasks:")
for i, task in enumerate(tasks,start=1):
    print(f"{i}.{task}")
print(\n enter 'y' if you completed the task,'n' if not.\n")
for task in task:
    status = input(f"did you complete'{task}'?(y/n:").strip().lower()
    if status == 'y':
        completed_tasks.append(task)
    else:
        incomplete_tasks.append(task)
print("\n=====daily summary=====")
if completed_tasks:
    print("completed task:")
    for task in completed_tasks:
        print(f"-{tasks}")
else:
    print("no tasks completed")
if incomplete_tasks:
    print("incomplete task:")
    for task in incomplete_tasks:
        print(f"-{tasks}")
else:
    print("\n all task completed")

SyntaxError: unexpected character after line continuation character (1022383998.py, line 7)

Functions-basics

In [2]:
print("hello david")

hello david

In [3]:
def hello():
    print("hello world")

In [6]:
hello()

hello world

In [7]:
def hello(name):
    print(f"hello-{name}")

In [9]:
hello("aditya")

hello-aditya

In [25]:
country ="india"
capital ="new delhi"
print(f"{capital} is the capital of the {country}")

new delhi is the capital of the india

In [10]:
hello("mister")

hello-mister

In [13]:
def add_numbers(x,y):
    print(x+y)

In [14]:
add_numbers(23,23)

46

In [18]:
def hello(name="guest"):
    print(f"-hello {name}")

In [19]:
def get_numbers(x=23,y=22):
    return x+y

In [21]:
get_numbers()

45

In [23]:
def text(x=10):
    print(x)

In [24]:
text()

10

In [29]:
x =100
def text():
    print(x)

In [30]:
text()

100

In [1]:
def text(n):
    n=21
    print(n)
text(19)

21

In [5]:
def hello(name):
    print(f"hello{name}")
def fav_city(city_name,name):
    hello(name)
    print(f"welcome to {city_name}!")

fav_city("mumbai", "david")

hellodavid
welcome to mumbai!

In [1]:
single_quote_strings = 'hello'
double_quote_strings = "hello"
triple_quote_strings = '''hello'''

In [3]:
print(single_quote_strings)
print(double_quote_strings)
print(triple_quote_strings)

hello
hello
hello

In [6]:
single_quote_strings[:3][1]
"ha" *3

'hahaha'

In [3]:
x = "hello world"
print("hello" in x)
print("Hello" in x) 
print(" " in x)

True
False
True

In [5]:
name = "DAVID"
name.lower()

'david'

In [7]:
name = "david"
print(f"my name is {name}")

my name is david

In [8]:
print("hello world")

hello world

In [10]:
print(int(2.456))

2

In [13]:
%%writefile myfile.txt
hello, this is text file in jupyter notebook

Writing myfile.txt

In [14]:
%%writefile myfile.json
hello, this is json file in jupyter notebook

Writing myfile.json

In [17]:
#  filename = myfilr.txt, myfile.json,....
# mode = read(r),write(w),append(a)....

In [18]:
with open('myfile.txt','r') as f:
    print(f.read())

hello, this is text file in jupyter notebook

In [20]:
with open('myfile.txt','a') as f:
    f.write('\nthis is the second line.')

In [21]:
with open('myfile.txt','r') as f:
    print(f.read())

hello, this is text file in jupyter notebook

this is the second line.

In [25]:
# Define functions for each operation

def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error: Division by zero is not allowed"
    return a / b


# Main program
print("Simple Calculator")
print("Select operation:")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

choice = input("Enter choice (1/2/3/4): ")

# Take user input for numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

# Perform selected operation
if choice == '1':
    print(f"The result of addition is: {add(a, b)}")
elif choice == '2':
    print(f"The result of subtraction is: {subtract(a, b)}")
elif choice == '3':
    print(f"The result of multiplication is: {multiply(a, b)}")
elif choice == '4':
    print(f"The result of division is: {divide(a, b)}")
else:
    print("Invalid input! Please select a valid option.")

Simple Calculator
Select operation:
1. Addition
2. Subtraction
3. Multiplication
4. Division

Enter choice (1/2/3/4):  3
Enter first number:  56
Enter second number:  78

The result of multiplication is: 4368.0