In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

# SERIES

In [5]:
x= [3,4,5,6,78,8]
var = pd.Series(x)
print(var)
print(type(var))

0     3
1     4
2     5
3     6
4    78
5     8
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
print(var[2])
print(var[5])

5
8

In [12]:
x= [3,4,5,6]
var = pd.Series(x,index=['a','b','c','d',])
print(var)
print(type(var))

a    3
b    4
c    5
d    6
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
x= [3,4,5,6]
var = pd.Series(x,index=['a','b','c','d',],dtype="float")
print(var)
print(type(var))

a    3.0
b    4.0
c    5.0
d    6.0
dtype: float64
<class 'pandas.core.series.Series'>

In [14]:
x= [3,4,5,6]
var = pd.Series(x,index=['a','b','c','d',],dtype="float",name="python")
print(var)
print(type(var))

a    3.0
b    4.0
c    5.0
d    6.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>

In [16]:
dic = {"name":['python','c','c+=','java'],
       "por":[12,13,14,15],
       "rank":[1,3,4,5]}
var1 = pd.Series(dic)
var1

name    [python, c, c+=, java]
por           [12, 13, 14, 15]
rank              [1, 3, 4, 5]
dtype: object

In [20]:
s = pd.Series(12,index=[1,2,3,4,5,6,6])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
6    12
dtype: int64
<class 'pandas.core.series.Series'>

In [27]:
s1 = pd.Series(12,index=[1,2,3,4,5,6,7])
s2 = pd.Series(12,index=[1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

In [ ]:
l=[1,2,3,4,5,6]

var = pd.DataFrame(l)
print(var)
print(type(var))



d ={"a":[1,2,3,4,5],
    "s":[1,2,3,4,5]}
var1 = pd.DataFrame(d)
print(var1)
print(type(var1))

In [39]:
d ={"a":[1,2,3,4,5],
    "s":[1,2,3,4,5]}
var1 = pd.DataFrame(d,columns=["a"])
print(var1)
print(type(var1))

   a
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [41]:
d ={"a":[1,2,3,4,5],
    "s":[1,2,3,4,5],
     1:[1,3,4,5,6]}
var1 = pd.DataFrame(d,columns=["a",1])
print(var1)
print(type(var1))

   a  1
0  1  1
1  2  3
2  3  4
3  4  5
4  5  6
<class 'pandas.core.frame.DataFrame'>

In [45]:
d ={"a":[1,2,3,4,5],
    "s":[1,2,3,4,5],
     1:[1,2,3,4,5]}
var1 = pd.DataFrame(d,columns=["a",1],index=["a","s","d","f","g"])
print(var1)
print(type(var1))

   a  1
a  1  1
s  2  2
d  3  3
f  4  4
g  5  5
<class 'pandas.core.frame.DataFrame'>

In [53]:
d ={"a":[1,2,3,4,5],
    "s":[1,2,3,4,5],
     1:[1,2,3,4,5]}
var1 = pd.DataFrame(d)
print(d)
print(type(d))


print(var1["a"][3])
print(var1["a"][3])
print(var1["s"][3])
print(var1[1][2])

{'a': [1, 2, 3, 4, 5], 's': [1, 2, 3, 4, 5], 1: [1, 2, 3, 4, 5]}
<class 'dict'>
4
4
4
3

In [56]:
list_1=[[1,2,3,4],[11,12,13,14]]
var2 = pd.DataFrame(list_1)
print(var2)
print(type(var2))

    0   1   2   3
0   1   2   3   4
1  11  12  13  14
<class 'pandas.core.frame.DataFrame'>

In [58]:
sr ={"s":pd.Series([1,2,3,4]),"r":pd.Series([1,2,3,4])}
var3 = pd.DataFrame(sr)
print(type(var3))
print(var3)

<class 'pandas.core.frame.DataFrame'>
   s  r
0  1  1
1  2  2
2  3  3
3  4  4

In [59]:
#Arithmetic operations

In [68]:
sr ={"a":pd.Series([1,2,3,4]),"b":pd.Series([1,2,3,4])}
var = pd.DataFrame(sr)
var

   a  b
0  1  1
1  2  2
2  3  3
3  4  4

In [71]:
var["c"] = var["a"] + var["b"]
var

   a  b  c
0  1  1  2
1  2  2  4
2  3  3  6
3  4  4  8

In [75]:
var["c"] = var["a"] - var["b"]
var

   a  b  c
0  1  1  0
1  2  2  0
2  3  3  0
3  4  4  0

In [74]:
var["c"] = var["a"] * var["b"]
var

   a  b   c
0  1  1   1
1  2  2   4
2  3  3   9
3  4  4  16

In [76]:
var["c"] = var["a"] / var["b"]
var

   a  b    c
0  1  1  1.0
1  2  2  1.0
2  3  3  1.0
3  4  4  1.0